@import '../../styles/reset.css';
@import '../../styles/scrollbar.css';

:host {
  @apply flex w-full flex-col;
  @apply text-text-md;
  @apply text-text-1000 relative box-border;
}

.chat-header {
  @apply relative mx-2 cursor-pointer gap-2 px-4 py-3;
  @apply bg-background-800 text-text-600 flex flex-row items-center justify-between;
  @apply rounded-sm;
  border: theme('borderWidth.sm') solid theme('colors.background.600');
}

.chat-header-label {
  @apply flex flex-row items-center justify-start gap-2;
}

.dropdown {
  @apply absolute top-full;
  @apply z-10 p-0;
  @apply bg-background-900;
  @apply max-h-0 opacity-0;
  @apply overflow-hidden;
  @apply pointer-events-none;
  /* @apply transition-all duration-200 ease-in-out; */
  @apply rounded-b-sm;
  left: theme('spacing.2');
  right: theme('spacing.2');
  max-width: calc(100vw - theme('spacing.4'));
  box-sizing: border-box;
}

.dropdown.open {
  @apply max-h-[50vh] opacity-100;
  @apply overflow-auto p-4;
  @apply pointer-events-auto;
  @apply border-background-600 border-t-none border-[1px] border-solid;
}
